signup-page {
	.signup-content
	{
		.legal-stuff
		{
			color: white;
			text-align: center;
			margin: 10px 12px;
		}
	}
	.button-sm {
		width: 200px;
		padding-left: 50px;
	}
	.padding-left-sm {
		padding-left: 10px;
	}
	.signup-form {
		width: 600px;
	}
}
